<h1>New Product</h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Currency %><br>
    <%= form.text_area :currency %>
  </div>

  <div>
    <%= form.label :Value %><br>
    <%= form.text_area :unit_amount %>
  </div>

  <div>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
